*{
  margin: auto;
  padding: auto;  
}
body{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}
.nav{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(6,208,35,1) 0%, rgba(13,12,12,1) 99.8% );
justify-content: space-around;
align-items: center;
margin: auto;
padding: 20px;
display: flex;

}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 150px;
    margin-left: 100px;

}
ul li{
    display: flex;
    color: chartreuse;
    justify-content: space-around;
  cursor: pointer;
}
ul li a:hover{
    color: yellow;
}
.btn{
  
  
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
 
  cursor: pointer;
  }
  .btn:hover{
    color: yellow;
    cursor: pointer;
    gap: 0%;
  }
<!-- .dropbtn{

    border-radius: 2px;
    background-image: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% );
border: none;
padding: 2px;
cursor: pointer;
font-size: large;
color:yellowgreen ;
}
.Games{
    display: block;
    position: relative;
}
.dropdown-content{
    display: inline-block;
    position: absolute;
     margin-left: 100px;
     margin-top: 20px;
     background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(6,208,35,1) 0%, rgba(13,12,12,1) 99.8% );
   
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }-->
  .Hom{
    margin-bottom: 100px;

  }

  .Gta{
    margin-left: 0%;
    display: Flex;
    margin-top: 0%;
    justify-content: space-around;
    align-items: center;
    position: relative;

    
  }
  .GTA-1{
   
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    margin-left: 180px;
    color: yellowgreen;
    border-radius: 2px;
    border-color: blue;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
  }
  .hmm{

 background-color: darkorange;
    display: inline-block;
    color: antiquewhite;
    margin-top: 100px;
  text-align: center;
  color: crimson;
  }
  .about{
   padding-top:5px;
    color: antiquewhite;
    font-size: larger;
    gap:100px;
    display: flex;
    text-align: center;
    margin-right: 100px;
   }
   .cartoons{
    text-decoration:dashed;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
   }
   .Avengers{
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
   }
   .Bentens{
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
   }

   .TomJerry{
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
   }
  .cartoon2{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .PinkPanther{
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
   }
   .LaddyBug{
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
   }

   .Fairytales{
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
   }





   .footer{
    background-color: black;
    color: beige;

   }

   
